$titleWhiteColor: #FFFFFF;
$headerTextColor: #F7F3F2;
$buttonColor: #FF4E50;
$sectionTitleColor: #444444;
$funcTextColor: #E3E3E3;
$partnerTextColor: #666666;
$inputPlaceholderColor: #999999;
$footerLogoText: #CCCCCC; 
